In [2]:
import pandas as pd

In [3]:
pd.read_csv('Clean/airport_cleaned.csv')

,IATA_code,Flights,AvgDelay,Cancelled,Fullname,City,State,Lat,Lon
0,ABE,6,7.833333,0.0,Lehigh Valley International Airport (was Allen...,Allentown,PA,40.65236,-75.44040
1,ABI,6,209.333333,0.0,Abilene Regional Airport,Abilene,TX,32.41132,-99.68190
2,ABQ,68,12.779412,0.0,Albuquerque International Sunport,Albuquerque,NM,35.04022,-106.60919
3,ABR,2,0.500000,0.0,Aberdeen Regional Airport,Aberdeen,SD,45.44906,-98.42183
4,ABY,2,-2.500000,0.0,Southwest Georgia Regional Airport,Albany,GA,31.53552,-84.19447
...,...,...,...,...,...,...,...,...,...
289,TYS,37,3.416667,1.0,McGhee Tyson Airport,Knoxville,TN,35.81249,-83.99286
290,VLD,2,11.000000,0.0,Valdosta Regional Airport,Valdosta,GA,30.78250,-83.27672
291,VPS,14,26.071429,0.0,Destin–Fort Walton Beach Airport / Eglin Air F...,Fort Walton Beach,FL,30.48325,-86.52540
292,XNA,28,38.653846,2.0,Northwest Arkansas National Airport,Fayetteville,AR,36.28187,-94.30681
293,YUM,4,-7.750000,0.0,Yuma International Airport / MCAS Yuma,Yuma,AZ,32.65658,-114.60597

In [1]:
flight_df = pd.read_csv('Resources/2018_select.csv')

NameError: name 'pd' is not defined

In [25]:
flight_df.columns

Index(['FL_DATE', 'OP_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST',
       'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF',
       'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY',
       'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME',
       'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'CARRIER_DELAY',
       'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY',
       'Unnamed: 27'],
      dtype='object')

In [26]:
flight_df['DEP_TIME']

0        1512.0
1        1107.0
2        1330.0
3        1552.0
4         650.0
          ...
17909     621.0
17910    1754.0
17911    1012.0
17912     903.0
17913    1150.0
Name: DEP_TIME, Length: 17914, dtype: float64

In [27]:
flight_df['DEP_TIME'] = flight_df['DEP_TIME'].loc[~flight_df['DEP_TIME'].isna()].astype(int).astype(str)
flight_df['DEP_TIME']

0        1512
1        1107
2        1330
3        1552
4         650
         ...
17909     621
17910    1754
17911    1012
17912     903
17913    1150
Name: DEP_TIME, Length: 17914, dtype: object

In [28]:
flight_df['DEP_TIME'].loc[flight_df['DEP_TIME'].str.len()==3] = '0'+flight_df['DEP_TIME'].loc[flight_df['DEP_TIME'].str.len()==3]

C:\Users\Wei\anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [29]:
flight_df['DEP_TIME'] = flight_df['DEP_TIME'].str[0:2]+':'+flight_df['DEP_TIME'].str[2:4]

In [30]:
flight_df['DEP_TIME']

0        15:12
1        11:07
2        13:30
3        15:52
4        06:50
         ...
17909    06:21
17910    17:54
17911    10:12
17912    09:03
17913    11:50
Name: DEP_TIME, Length: 17914, dtype: object

In [31]:
flight_df=flight_df[['FL_DATE','OP_CARRIER','OP_CARRIER_FL_NUM','ORIGIN', 'DEST','AIR_TIME','DISTANCE','DEP_TIME', 'DEP_DELAY','CANCELLED']]

In [32]:
flight_df

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,AIR_TIME,DISTANCE,DEP_TIME,DEP_DELAY,CANCELLED
0,2018-01-01,UA,2429,EWR,DEN,225.0,1605.0,15:12,-5.0,0.0
1,2018-01-01,UA,2427,LAS,SFO,65.0,414.0,11:07,-8.0,0.0
2,2018-01-01,UA,2426,SNA,DEN,106.0,846.0,13:30,-5.0,0.0
3,2018-01-01,UA,2425,RSW,ORD,157.0,1120.0,15:52,6.0,0.0
4,2018-01-01,UA,2424,ORD,ALB,83.0,723.0,06:50,20.0,0.0
...,...,...,...,...,...,...,...,...,...,...
17909,2018-01-01,DL,2988,SJC,MSP,199.0,1575.0,06:21,1.0,0.0
17910,2018-01-01,DL,2989,SEA,ORD,203.0,1721.0,17:54,-8.0,0.0
17911,2018-01-01,DL,2990,ATL,DCA,70.0,547.0,10:12,7.0,0.0
17912,2018-01-01,DL,2999,ATL,SYR,101.0,794.0,09:03,-5.0,0.0
17913,2018-01-01,DL,2999,SYR,ATL,124.0,794.0,11:50,0.0,0.0

In [33]:
flight_df.columns=['Date','Airline','Flight_Num','Origin','Destination','Air_Time','Distance','Dep_Time','Delay (min)', 'Cancelled (Y/N)']

In [34]:
flight_df

,Date,Airline,Flight_Num,Origin,Destination,Air_Time,Distance,Dep_Time,Delay (min),Cancelled (Y/N)
0,2018-01-01,UA,2429,EWR,DEN,225.0,1605.0,15:12,-5.0,0.0
1,2018-01-01,UA,2427,LAS,SFO,65.0,414.0,11:07,-8.0,0.0
2,2018-01-01,UA,2426,SNA,DEN,106.0,846.0,13:30,-5.0,0.0
3,2018-01-01,UA,2425,RSW,ORD,157.0,1120.0,15:52,6.0,0.0
4,2018-01-01,UA,2424,ORD,ALB,83.0,723.0,06:50,20.0,0.0
...,...,...,...,...,...,...,...,...,...,...
17909,2018-01-01,DL,2988,SJC,MSP,199.0,1575.0,06:21,1.0,0.0
17910,2018-01-01,DL,2989,SEA,ORD,203.0,1721.0,17:54,-8.0,0.0
17911,2018-01-01,DL,2990,ATL,DCA,70.0,547.0,10:12,7.0,0.0
17912,2018-01-01,DL,2999,ATL,SYR,101.0,794.0,09:03,-5.0,0.0
17913,2018-01-01,DL,2999,SYR,ATL,124.0,794.0,11:50,0.0,0.0

In [35]:
flight_df['Cancelled (Y/N)']=flight_df['Cancelled (Y/N)'].replace(0, 'N')

In [36]:
flight_df['Cancelled (Y/N)']=flight_df['Cancelled (Y/N)'].replace(1, 'Y')

In [37]:
flight_df.to_csv('Clean/flights_cleaned.csv',index=False)

In [38]:
pd.read_csv('Clean/flights_cleaned.csv')

,Date,Airline,Flight_Num,Origin,Destination,Air_Time,Distance,Dep_Time,Delay (min),Cancelled (Y/N)
0,2018-01-01,UA,2429,EWR,DEN,225.0,1605.0,15:12,-5.0,N
1,2018-01-01,UA,2427,LAS,SFO,65.0,414.0,11:07,-8.0,N
2,2018-01-01,UA,2426,SNA,DEN,106.0,846.0,13:30,-5.0,N
3,2018-01-01,UA,2425,RSW,ORD,157.0,1120.0,15:52,6.0,N
4,2018-01-01,UA,2424,ORD,ALB,83.0,723.0,06:50,20.0,N
...,...,...,...,...,...,...,...,...,...,...
17909,2018-01-01,DL,2988,SJC,MSP,199.0,1575.0,06:21,1.0,N
17910,2018-01-01,DL,2989,SEA,ORD,203.0,1721.0,17:54,-8.0,N
17911,2018-01-01,DL,2990,ATL,DCA,70.0,547.0,10:12,7.0,N
17912,2018-01-01,DL,2999,ATL,SYR,101.0,794.0,09:03,-5.0,N
17913,2018-01-01,DL,2999,SYR,ATL,124.0,794.0,11:50,0.0,N

In [40]:
flight_df.groupby('Airline')['Delay (min)'].mean()

Airline
9E    20.706601
AA    24.206330
AS     4.326613
B6    30.030445
DL    10.900666
EV    20.555189
F9    35.617747
G4    30.612167
HA     1.233645
MQ    30.915535
NK    16.312910
OH    29.158779
OO    28.344603
UA    11.003171
VX     5.824468
WN    23.024846
YV    27.268145
YX    12.427441
Name: Delay (min), dtype: float64

In [ ]:
flight_df.groupby('Airline')['Delay (min)'].mean()