In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Resources/2018_select.csv')
df.head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
0,2018-01-01,UA,2429,EWR,DEN,1517,1512.0,-5.0,15.0,1527.0,...,268.0,250.0,225.0,1605.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-01,UA,2427,LAS,SFO,1115,1107.0,-8.0,11.0,1118.0,...,99.0,83.0,65.0,414.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-01,UA,2426,SNA,DEN,1335,1330.0,-5.0,15.0,1345.0,...,134.0,126.0,106.0,846.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-01-01,UA,2425,RSW,ORD,1546,1552.0,6.0,19.0,1611.0,...,190.0,182.0,157.0,1120.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-01-01,UA,2424,ORD,ALB,630,650.0,20.0,13.0,703.0,...,112.0,106.0,83.0,723.0,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df.columns

Index(['FL_DATE', 'OP_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST',
       'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF',
       'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY',
       'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME',
       'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'CARRIER_DELAY',
       'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY',
       'Unnamed: 27'],
      dtype='object')

In [3]:
ori_gp = df.groupby(['ORIGIN'])

In [18]:
delay_ds = ori_gp['DEP_DELAY'].mean()
delay_ds
delay_df= pd.DataFrame(delay_ds)
delay_df

         DEP_DELAY
ORIGIN
ABE       7.833333
ABI     209.333333
ABQ      12.779412
ABR       0.500000
ABY      -2.500000
...            ...
VPS      26.071429
WRG            NaN
XNA      38.653846
YNG      15.000000
YUM      -7.750000

[326 rows x 1 columns]

In [15]:
flight_ds=ori_gp['FL_DATE'].count()
flight_ds
flight_df= pd.DataFrame(flight_ds)

In [20]:
cancel_ds=ori_gp['CANCELLED'].sum()
cancel_ds
cancel_df= pd.DataFrame(cancel_ds)

In [6]:
airport_df = pd.read_csv('Resources/completed_airports.csv')

In [30]:
airport_df.head()
airport_df = airport_df[['IATA','Airport','City','STATE','LATITUDE','LONGITUDE']]

In [32]:
airport_df

,IATA,Airport,City,STATE,LATITUDE,LONGITUDE
0,BHM,Birminghamâ€“Shuttlesworth International Airport,Birmingham,AL,33.56294,-86.75355
1,DHN,Dothan Regional Airport,Dothan,AL,31.32134,-85.44963
2,HSV,Huntsville International Airport (Carl T. Jone...,Huntsville,AL,34.64045,-86.77311
3,MOB,Mobile Regional Airport,Mobile,AL,30.69142,-88.24283
4,MGM,Montgomery Regional Airport (Dannelly Field),Montgomery,AL,32.30064,-86.39398
...,...,...,...,...,...,...
390,SJU,Luis MuÃ±oz MarÃ­n International Airport,San Juan / Carolina,PR,18.43942,-66.00183
391,SIG,Fernando Luis Ribas Dominicci Airport (Isla Gr...,San Juan / Miramar,NaN,NaN,NaN
392,VQS,Antonio Rivera RodrÃ­guez Airport,Vieques,NaN,NaN,NaN
393,STT,Cyril E. King Airport,"Charlotte Amalie, St. Thomas",VI,18.33731,-64.97336
394,STX,Henry E. Rohlsen Airport,"Christiansted, St. Croix",VI,17.70189,-64.79856

In [21]:
merged_df = pd.merge(flight_df,delay_df,left_index=True, right_index=True, how='inner')

In [23]:
merged_df = pd.merge(merged_df,cancel_df,left_index=True, right_index=True, how='inner')

In [26]:
merged_df.reset_index(inplace = True)

In [31]:
merged_df

    ORIGIN  FL_DATE   DEP_DELAY  CANCELLED
0      ABE        6    7.833333        0.0
1      ABI        6  209.333333        0.0
2      ABQ       68   12.779412        0.0
3      ABR        2    0.500000        0.0
4      ABY        2   -2.500000        0.0
..     ...      ...         ...        ...
321    VPS       14   26.071429        0.0
322    WRG        2         NaN        2.0
323    XNA       28   38.653846        2.0
324    YNG        1   15.000000        0.0
325    YUM        4   -7.750000        0.0

[326 rows x 4 columns]

In [34]:
air_df= pd.merge(merged_df,airport_df,left_on='ORIGIN',right_on='IATA',how='left')

In [39]:
air_df = air_df.dropna(how='any')

In [43]:
air_df = air_df.drop(columns=['IATA'])
air_df

,ORIGIN,FL_DATE,DEP_DELAY,CANCELLED,Airport,City,STATE,LATITUDE,LONGITUDE
0,ABE,6,7.833333,0.0,Lehigh Valley International Airport (was Allen...,Allentown,PA,40.65236,-75.44040
1,ABI,6,209.333333,0.0,Abilene Regional Airport,Abilene,TX,32.41132,-99.68190
2,ABQ,68,12.779412,0.0,Albuquerque International Sunport,Albuquerque,NM,35.04022,-106.60919
3,ABR,2,0.500000,0.0,Aberdeen Regional Airport,Aberdeen,SD,45.44906,-98.42183
4,ABY,2,-2.500000,0.0,Southwest Georgia Regional Airport,Albany,GA,31.53552,-84.19447
...,...,...,...,...,...,...,...,...,...
317,TYS,37,3.416667,1.0,McGhee Tyson Airport,Knoxville,TN,35.81249,-83.99286
320,VLD,2,11.000000,0.0,Valdosta Regional Airport,Valdosta,GA,30.78250,-83.27672
321,VPS,14,26.071429,0.0,Destinâ€“Fort Walton Beach Airport / Eglin Air F...,Fort Walton Beach,FL,30.48325,-86.52540
323,XNA,28,38.653846,2.0,Northwest Arkansas National Airport,Fayetteville,AR,36.28187,-94.30681
325,YUM,4,-7.750000,0.0,Yuma International Airport / MCAS Yuma,Yuma,AZ,32.65658,-114.60597

In [47]:
air_df.columns=['IATA_code','Flights','AvgDelay','Cancelled','Fullname','City','State','Lat','Lon']

In [53]:
air_df.to_csv('Clean/airport_cleaned.csv',index=False)

In [54]:
pd.read_csv('Clean/airport_cleaned.csv')

,IATA_code,Flights,AvgDelay,Cancelled,Fullname,City,State,Lat,Lon
0,ABE,6,7.833333,0.0,Lehigh Valley International Airport (was Allen...,Allentown,PA,40.65236,-75.44040
1,ABI,6,209.333333,0.0,Abilene Regional Airport,Abilene,TX,32.41132,-99.68190
2,ABQ,68,12.779412,0.0,Albuquerque International Sunport,Albuquerque,NM,35.04022,-106.60919
3,ABR,2,0.500000,0.0,Aberdeen Regional Airport,Aberdeen,SD,45.44906,-98.42183
4,ABY,2,-2.500000,0.0,Southwest Georgia Regional Airport,Albany,GA,31.53552,-84.19447
...,...,...,...,...,...,...,...,...,...
289,TYS,37,3.416667,1.0,McGhee Tyson Airport,Knoxville,TN,35.81249,-83.99286
290,VLD,2,11.000000,0.0,Valdosta Regional Airport,Valdosta,GA,30.78250,-83.27672
291,VPS,14,26.071429,0.0,Destinâ€“Fort Walton Beach Airport / Eglin Air F...,Fort Walton Beach,FL,30.48325,-86.52540
292,XNA,28,38.653846,2.0,Northwest Arkansas National Airport,Fayetteville,AR,36.28187,-94.30681
293,YUM,4,-7.750000,0.0,Yuma International Airport / MCAS Yuma,Yuma,AZ,32.65658,-114.60597